# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Data
*.csv
*.xlsx
*.zip
*.json

# Visualization Artifacts
*.png
# Track those used for latex rendering
!**/latex/**/*.png

# Latex artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc